
[submodule "src/backend"]
	path = src/backend
	url = git@github.com:ben-horner-dev/portfolio-fe.git
[submodule "src/frontend"]
	path = src/frontend
	url = git@github.com:ben-horner-dev/portfolio-be.git
